* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  background-image: url("/portfolio_website/images/landscape1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-size: 100% 100%;
}

h1 {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

h1 span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/***** Navigation ******/

.nav-container {
  background: linear-gradient(90deg, rgba(176, 222, 222, 0.67) 0%, rgba(176, 222, 222, 0.42) 100%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  height: 72px; 
  width: 100vw;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

.logo {
  width: 72px;
  height: 72px;
}

.nav-items li {
  list-style: none;
  margin-right: 100px;
  text-decoration: none;
}

.nav-items li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s ease;
}

.nav-items li a:hover {
  color: #ED9065;
  transform: translate(0, -5px);
}

.nav-items li:nth-last-of-type(1) {
  margin-right: 0;
}

/*****Main Content *****/

.header-container {
height: calc(100vh - 72px);
display: flex;
overflow: hidden;
overflow-x: hidden;

}


header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  max-width: 100vw;
}

header h1 {
  font-weight: 700;
  font-size: 128px;
  line-height: 152px;
  color: #FFFFFF;
  text-transform: uppercase;
}

header p {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  width: 396px;
  margin-top: 25px
}

.hero-content p {
  width: auto;
}

/********** Flags Section **********/
.flags {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 100px);  
  grid-template-areas: 
    "head1 head2 flag2 optra head5 head6 head7 head8"
    "mid1 mid2 mid3 mid4 flag3 puwri mid7 mid8"
    "flag1 magra foot3 foot4 foot5 foot6 flag4 mum2";
  align-items: center;
  height: 30vh;
  width: 80vw;
}

.flag1 {
  grid-area: flag1; 
  animation: myFade ease-in 5s 1 normal forwards, myRotate 1s 3.5s 1;
  width: fit-content;
}

.p1 {
  grid-area: magra;
  animation: myFade ease-in 5s 1 normal forwards;
}

@keyframes myRotate {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes myFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.flags p {
  font-family: 'Rajdhani', sans-serif;

}

.flag2 {
  grid-area: flag2;
  animation: myFade ease-in 6s 1 normal forwards, myRotate 1s 4.5s 1;
  width: fit-content;
}

.p2 {
  grid-area: optra;
  animation: myFade ease-in 6s 1 normal forwards;
}

.flag3 {
  grid-area: flag3;
  animation: myFade ease-in 8s 1 normal forwards, myRotate 1s 5.5s 1;
  width: fit-content;

}

.p3 {
  grid-area: puwri;
  animation: myFade ease-in 8s 1 normal forwards;
}

.flag4 {
  grid-area: flag4;
  animation: myFade ease-in 9s 1 normal forwards, myRotate 1s 6.5s 1;
  width: fit-content;

}

.p4 {
  grid-area: mum2;
  animation: myFade ease-in 9s 1 normal forwards;
}


/********** About Section **********/

.about-container {
  display: none;
}



/********** Projects Section **********/

.projects-container {
  display: none;
}

/********** Contact Section **********/

.contact-container {
  display: none;
}

/********** Creative Writing Section **********/
.storywriting-container {
  display: none;
}
